<div id="welcomePage">
    <h1>Welcome</h1>
    <a href="/event/new">Create New Event</a>

    <div class="container">
        <div class="card-deck">
            <div class="row">
                {{#each event}}
                    <div class="col-sm-3">
                        <div class="card mb-3" style="width: 18rem;">
                            {{#if this.picture}}
                                <img class="card-img-top" src="uploads/{{this.picture}}" alt="Card image cap">
                            {{else}}
                                <img class="card-img-top" src="../images/friends.png" alt="Card image cap">
                            {{/if}}
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.details}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Address: {{this.address}}</li>
                                <li class="list-group-item">Time: {{this.startTime}} - {{this.endTime}}</li>
                                <li class="list-group-item">Date: {{this.date}}</li>
                            </ul>
                            <div class="card-body">
                                <a href="/event/{{this._id}}" class="card-link">Read More</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
    {{!-- 
    {{console.log(count)}}
    {{#if count%3==0}}
    <br>
    {{/if}} --}}


        {{!-- <div id="eventCard">
            <div class="shadow card">
                <h5 class="card-header">{{ this.title }}</h5>
                <div class="card-body">
                    <p class="card-text">{{ this.content }}</p>
                    <a class="btn btn-sm btn-primary" href="/blog/{{this._id}}">Keep Reading</a>
                    <a class="btn btn-sm btn-primary" href="/blog/{{this._id}}?_method=DELETE">Delete Blog</a>
                    <a class="btn btn-sm btn-primary" href="/blog/edit/{{this._id}}">Edit Blog</a>
                </div>
            </div>
        </div> --}}
