<h1>Events Index</h1>

<div id="welcomePage">
    <h1>Welcome</h1>
    <a href="/event/new">Create New Event</a>

    {{#each event}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="uploads/{{this.picture}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.details}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Address: {{this.address}}</li>
                <li class="list-group-item">Time: {{this.startTime}} - {{this.endTime}}</li>
                <li class="list-group-item">Date: {{this.date}}</li>
            </ul>
            <div class="card-body">
                <a href="/event/{{this._id}}" class="card-link">Read More</a>
            </div>
        </div>

    {{/each}}
</div>