<style>

    body{
        background-image: url(https://images.pexels.com/photos/935835/pexels-photo-935835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat:no-repeat;
        background-position: center;
    }
    .card, .card-body, .list-group-item{
        background-color: rgba(240, 240, 247, 0.575);
    }
    

</style>

<div id="eventIndex">


<div class="container">
    <h1>Events Index</h1>
    <a href="/event/new">Create New Event</a>
        <div class="card-deck">
            <div class="row">
                {{#each event}}
                    <div class="col-sm-3">
                        <div class="card mb-3" style="width: 18rem;">
                            {{#if this.picture}}
                                <img class="card-img-top" src="../../public/upload/{{this.picture}}" alt="Card image cap">
                            {{else}}
                                <img class="card-img-top" src="../images/friends.png" alt="Card image cap">
                            {{/if}}
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <p class="card-text">{{this.details}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Address: {{this.address}}</li>
                                <li class="list-group-item">Time: {{this.startTime}} - {{this.endTime}}</li>
                                <li class="list-group-item">Date: {{this.date}}</li>
                                <li class="list-group-item">Attendees: {{this.attendees}}</li>
                            </ul>
                            <div class="card-body">
                                <a href="/event/{{this._id}}" class="card-link">Read More</a>
                            </div>
                            <div class="card-body">
                                <a class="btn btn-sm btn-primary" href="/event/edit/{{this._id}}">Edit Event</a>
                                <a class="btn btn-sm btn-primary" href="/event/{{this._id}}?_method=DELETE">Delete Event</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>