<style>
    #eventShow {
        padding: 5%;
        background-color: blanchedalmond;
    }
</style>

<div id="eventShow">
    <h2>{{event.title}}</h2>
    <h4>Time: {{event.startTime}} - {{event.endTime}}</h4>
    <h4>Date: {{event.date}}</h4>
    <h4>Address: {{event.address}}</h4>
    <h4>Details: {{event.details}}</h4>
    <a class="btn btn-sm btn-primary" href="/event">Back to All</a>
</div>