<style>
    {{!-- #eventShow {
        padding: 5%;
        background-color: blanchedalmond;
    } --}}

    body{
        background-image: url(https://images.pexels.com/photos/935835/pexels-photo-935835.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-repeat:no-repeat;
        background-position: center;

    }

    #eventShow{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #singleEvent {
        width: 30%;
        padding: 2%;
        background-color: rgba(240, 207, 176, 0.5);
        margin-top: 5%;
    }

</style>


<div id="eventShow">

    <h1>Can't wait to see you there!!</h1>
    <div id="singleEvent">
    {{!-- <img src={{event.picture}}/> --}}
    <h2>{{event.title}}</h2>
    <h4>Time: {{event.startTime}} - {{event.endTime}}</h4>
    <h4>Date: {{event.date}}</h4>
    <h4>Address: {{event.address}}</h4>
    <h4>Details: {{event.details}}</h4>
    <a class="btn btn-sm btn-primary" href="/event">Back to All</a>
    </div>
</div>